@model Shelter.ViewModels.AdvertViewModel

@{
    ViewData["Title"] = "Reserve";
    Layout = "_Layout";
}

<h1>Animal @Model.Title has been reserved</h1>

<h3> Please contact owner</h3>
<h3>Contact information: </h3>
<h4>@Model.User.Email</h4>


